{% extends 'home.html' %}
{% block title %}
    Market
{% endblock %}
{% block inner %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><h1 class="display-3">Buy</h1></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><h1 class="display-3">#Create/Sell</h1></a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       style="font-size: 1.5vh">
                <button class="btn btn-outline-success" style="width: 10vh;height: 4vh" type="submit"><h1
                        class="display-4">Search</h1></button>
            </form>
        </div>
    </nav>
    <div style="padding: 6%">
        {% if info %}
            <div class="alert alert-success" role="alert">
                <h1 class="h3">{{ info }}</h1>
            </div>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="{{ url_for('static',filename='imgs/paperlessman.svg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 class="h1">Superman NFT</h1>
                        <p class="display-6">This is the future</p>
                    </div>
                    <div class="card-footer bg-transparent border-danger">
                        <h1 class="h3">ETH 5.0</h1>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary" type="button" style="font-size: 1.6vh;width: 100%">Buy
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{{ url_for('static',filename='imgs/eth.svg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 class="h1">1 ETH</h1>
                        <p class="display-6">Convert some ETH!</p>
                    </div>
                    <div class="card-footer bg-transparent border-danger">
                        <h1 class="h3">CC 100 per ETH</h1>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary"
                                    type="button" onclick="location.href='{{ url_for('convertETH') }}'"
                                    style="font-size: 1.6vh;width: 100%">Buy
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}