{% extends "base.html" %}
{% block title %}
    login CarbonWallet
{% endblock %}
{% block content %}
    <div style="text-align: center;padding: 19%">
        <img src="{{ url_for('static',filename='imgs/earth.svg') }}"
             width="300" height="300"
             style="margin-top: 9px;margin-right: 5px"
             class="d-inline-block align-top rounded-circle"
             alt="" loading="lazy"/>
    </div>
    <div style="text-align: left;padding: 0% 19% 19% 19%">
        <form method="post" style="margin-top: 0%">
            <div class="form-group">
                <label for="exampleInputEmail1"><h1>ID</h1></label>
                <input type="text" class="form-control" id="username" name="username"
                       style="height: 5vh;font-size: 4vh">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"><h1>PASSWORD</h1></label>
                <input type="password" class="form-control" id="password" name="password"
                       style="height: 5vh;font-size: 4vh">
            </div>
            {#            <div class="form-group form-check">#}
            {#                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="rember">#}
            {#                <label class="form-check-label" for="exampleCheck1"><h3>Remember me</h3></label>#}
            {#            </div>#}
            <div style="height: 3vh;width: 100%"></div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-success"><h1>register</h1></button>
                <div style="height: 3vh;width: 100%"></div>
                <hr>
                <small id="emailHelp" class="h3">
                    Save the earth and earn money!
                </small>
            </div>
        </form>

    </div>

{% endblock %}